<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>This is great</h1>
                    <p>Welcome to templating using EJS</p>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>

            </div>
            <div class="list-group">
              <!-- loop over blog posts and render them -->
              <% posts.forEach((post) => { %>
                <a href="/post/<%= post.id %>" class="list-group-item">
                  <h4 class="list-group-item-heading"><%= post.title %></h4>
                  <p class="list-group-item-text"><%= post.author %></p>
                </a>
              <% }) %>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>