
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TakeNotez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Naote taking Application">
    <meta name="author" content=Medale">

    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    
    <link href='css/bootstrap-tour.min.css' rel='stylesheet'>

    <script src="js/jquery.min.js"></script>


</head>

<body>
<div class="ch-container">
    <div class="row">
        
    <div class="row">
        <div class="col-md-12 center login-header">
            <h2>Welcome to TakeNote</h2>
        </div>
        <!--/span-->
    </div><!--/row-->

    <div class="row">
        <div class="well col-md-5 center login-box">
            <div class="alert alert-info">
                Please sign up with your email and Password.
            </div>
            <form method="post" action="/signupuser" >
                <fieldset>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                        <input type="email" class="form-control" id="user" name="email" placeholder="Email">
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Password">
                    </div>
                    <div class="clearfix"></div>

                    <div class="input-prepend">
                        <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
                    </div>
                    <div class="clearfix"></div>

                    <p class="center col-md-5">
                        <input type="submit" class="btn btn-primary" id="submit" value="Sign Up" />
                    </p>
                </fieldset>
                 <div class="input-prepend">
                        <a href="/login">Already have an account</a>
                    </div>
            </form>
        </div>
        <!--/span-->
    </div><!--/row-->
</div><!--/fluid-row-->

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="js/bootstrap.min.js"></script>


<script src="js/charisma.js"></script>


</body>
</html>
